:root {
  --font-size-body-mini: 10px;
  --font-size-body-small: 13px;
  --font-size-body-text: 16px;
  --font-size-button-text: 16px;
  --font-size-h2-subline: 16px;
  --font-size-h3-subline: 16px;
  --font-size-h6: 16px;
  --font-size-body-big: 17px;
  --font-size-h5: 17px;
  --font-size-h1-subline: 18px;
  --font-size-h4: 18px;
  --font-size-h3: 20px;
  --font-size-h2: 24px;
  --font-size-h1: 28px;
  --font-size-hero-subline: 28px;
  --font-size-hero: 34px;
  --letter-spacing-body-big: 0px;
  --letter-spacing-body-mini: 0px;
  --letter-spacing-body-small: 0px;
  --letter-spacing-body-text: 0px;
  --letter-spacing-button-text: 0px;
  --letter-spacing-h1: 0px;
  --letter-spacing-h1-subline: 0px;
  --letter-spacing-h2: 0px;
  --letter-spacing-h2-subline: 0px;
  --letter-spacing-h3: 0px;
  --letter-spacing-h3-subline: 0px;
  --letter-spacing-h4: 0px;
  --letter-spacing-h5: 0px;
  --letter-spacing-h6: 0px;
  --letter-spacing-hero: 0px;
  --letter-spacing-hero-subline: 0px;
  --paragraph-spacing-body-big: 16px;
  --paragraph-spacing-body-mini: 16px;
  --paragraph-spacing-body-small: 16px;
  --paragraph-spacing-body-text: 16px;
  --font-family-hero: Inter;
  --font-family-buttons: Inter;
  --font-family-h1: Inter;
  --font-family-h2: Inter;
  --font-family-h3: Inter;
  --font-family-h4: Inter;
  --font-family-h5: Inter;
  --font-family-h6: Inter;
  --font-family-paragraphs: Inter;
  --font-family-sublines: Inter;
  --font-weight-hero: bold;
  --font-weight-buttons: bold;
  --font-weight-h1: bold;
  --font-weight-h2: bold;
  --font-weight-h3: bold;
  --font-weight-h4: bold;
  --font-weight-h5: bold;
  --font-weight-h6: bold;
  --font-weight-paragraphs: regular;
  --font-weight-sublines: semibold;
  --buttons-p-horizontal-reduzed: 16px;
  --buttons-p-vertikal: 16px;
  --buttons-margin-top: 24px;
  --buttons-p-horizontal: 24px;
  --forms-input-p-horizontal: 16px;
  --forms-input-p-vertikal: 16px;
  --margin-padding-column-extra-padding: 0px;
  --margin-padding-abstand-1: 8px;
  --margin-padding-abstand-2: 8px;
  --margin-padding-gutter: 8px;
  --margin-padding-abstand-3: 16px;
  --margin-padding-abstand-4: 16px;
  --margin-padding-fluid-extra-padding: 16px;
  --margin-padding-margin-horizontal: 16px;
  --margin-padding-abstand-5: 32px;
  --margin-padding-margin-vertikal: 40px;
  --margin-padding-abstand-6: 48px;
  --typografie-sublines-bottom: 4px;
  --typografie-h1-bottom: 8px;
  --typografie-h2-bottom: 8px;
  --typografie-h3-bottom: 8px;
  --typografie-h4-bottom: 8px;
  --typografie-h5-bottom: 8px;
  --typografie-h6-bottom: 8px;
  --typografie-hero-bottom: 16px;
  --typografie-paragraph-bottom: 16px;
  --border-radius: 8px;
  --mini-icons: 8px;
  --std-icons: 16px;
  --big-icons: 32px;
  --button-height: 48px;
  --container-width: 343px;
  --frame-min-width: 375px;
  --frame-max-width: 767px;
}
@media (min-width: 768px) {
  :root {
    --font-size-body-mini: 12px;
    --font-size-body-small: 14px;
    --font-size-body-big: 18px;
    --font-size-body-text: 18px;
    --font-size-button-text: 18px;
    --font-size-h3-subline: 18px;
    --font-size-h5: 18px;
    --font-size-h6: 18px;
    --font-size-h2-subline: 20px;
    --font-size-h4: 20px;
    --font-size-h1-subline: 24px;
    --font-size-h3: 24px;
    --font-size-h2: 28px;
    --font-size-h1: 32px;
    --font-size-hero-subline: 32px;
    --font-size-hero: 40px;
    --letter-spacing-body-big: 0px;
    --letter-spacing-body-mini: 0px;
    --letter-spacing-body-small: 0px;
    --letter-spacing-body-text: 0px;
    --letter-spacing-button-text: 0px;
    --letter-spacing-h1: 0px;
    --letter-spacing-h1-subline: 0px;
    --letter-spacing-h2: 0px;
    --letter-spacing-h2-subline: 0px;
    --letter-spacing-h3: 0px;
    --letter-spacing-h3-subline: 0px;
    --letter-spacing-h4: 0px;
    --letter-spacing-h5: 0px;
    --letter-spacing-h6: 0px;
    --letter-spacing-hero: 0px;
    --letter-spacing-hero-subline: 0px;
    --paragraph-spacing-body-big: 16px;
    --paragraph-spacing-body-mini: 16px;
    --paragraph-spacing-body-small: 16px;
    --paragraph-spacing-body-text: 16px;
    --font-family-hero: Inter;
    --font-family-buttons: Inter;
    --font-family-h1: Inter;
    --font-family-h2: Inter;
    --font-family-h3: Inter;
    --font-family-h4: Inter;
    --font-family-h5: Inter;
    --font-family-h6: Inter;
    --font-family-paragraphs: Inter;
    --font-family-sublines: Inter;
    --font-weight-hero: bold;
    --font-weight-buttons: bold;
    --font-weight-h1: bold;
    --font-weight-h2: bold;
    --font-weight-h3: bold;
    --font-weight-h4: bold;
    --font-weight-h5: bold;
    --font-weight-h6: bold;
    --font-weight-paragraphs: regular;
    --font-weight-sublines: semibold;
    --buttons-p-vertikal: 16px;
    --buttons-p-horizontal-reduzed: 24px;
    --buttons-margin-top: 32px;
    --buttons-p-horizontal: 32px;
    --forms-input-p-horizontal: 16px;
    --forms-input-p-vertikal: 16px;
    --margin-padding-abstand-1: 8px;
    --margin-padding-column-extra-padding: 8px;
    --margin-padding-abstand-2: 16px;
    --margin-padding-abstand-3: 16px;
    --margin-padding-gutter: 16px;
    --margin-padding-margin-horizontal: 16px;
    --margin-padding-abstand-4: 24px;
    --margin-padding-abstand-5: 56px;
    --margin-padding-fluid-extra-padding: 64px;
    --margin-padding-margin-vertikal: 64px;
    --margin-padding-abstand-6: 88px;
    --typografie-sublines-bottom: 4px;
    --typografie-h4-bottom: 8px;
    --typografie-h5-bottom: 8px;
    --typografie-h6-bottom: 8px;
    --typografie-h1-bottom: 16px;
    --typografie-h2-bottom: 16px;
    --typografie-h3-bottom: 16px;
    --typografie-paragraph-bottom: 16px;
    --typografie-hero-bottom: 24px;
    --border-radius: 8px;
    --mini-icons: 16px;
    --std-icons: 24px;
    --big-icons: 40px;
    --button-height: 56px;
    --container-width: 720px;
    --frame-min-width: 768px;
    --frame-max-width: 991px;
  }
}
@media (min-width: 992px) {
  :root {
    --font-size-body-mini: 12px;
    --font-size-body-small: 15px;
    --font-size-h6: 16px;
    --font-size-body-text: 18px;
    --font-size-button-text: 18px;
    --font-size-h3-subline: 18px;
    --font-size-h5: 18px;
    --font-size-body-big: 20px;
    --font-size-h4: 20px;
    --font-size-h1-subline: 24px;
    --font-size-h2-subline: 24px;
    --font-size-h3: 24px;
    --font-size-h2: 30px;
    --font-size-h1: 40px;
    --font-size-hero-subline: 40px;
    --font-size-hero: 50px;
    --letter-spacing-body-big: 0px;
    --letter-spacing-body-mini: 0px;
    --letter-spacing-body-small: 0px;
    --letter-spacing-body-text: 0px;
    --letter-spacing-button-text: 0px;
    --letter-spacing-h1: 0px;
    --letter-spacing-h1-subline: 0px;
    --letter-spacing-h2: 0px;
    --letter-spacing-h2-subline: 0px;
    --letter-spacing-h3: 0px;
    --letter-spacing-h3-subline: 0px;
    --letter-spacing-h4: 0px;
    --letter-spacing-h5: 0px;
    --letter-spacing-h6: 0px;
    --letter-spacing-hero: 0px;
    --letter-spacing-hero-subline: 0px;
    --paragraph-spacing-body-big: 16px;
    --paragraph-spacing-body-mini: 16px;
    --paragraph-spacing-body-small: 16px;
    --paragraph-spacing-body-text: 16px;
    --font-family-hero: Inter;
    --font-family-buttons: Inter;
    --font-family-h1: Inter;
    --font-family-h2: Inter;
    --font-family-h3: Inter;
    --font-family-h4: Inter;
    --font-family-h5: Inter;
    --font-family-h6: Inter;
    --font-family-paragraphs: Inter;
    --font-family-sublines: Inter;
    --font-weight-hero: bold;
    --font-weight-buttons: bold;
    --font-weight-h1: bold;
    --font-weight-h2: bold;
    --font-weight-h3: bold;
    --font-weight-h4: bold;
    --font-weight-h5: bold;
    --font-weight-h6: bold;
    --font-weight-paragraphs: regular;
    --font-weight-sublines: semibold;
    --buttons-p-vertikal: 16px;
    --buttons-p-horizontal-reduzed: 24px;
    --buttons-p-horizontal: 40px;
    --buttons-margin-top: 48px;
    --forms-input-p-horizontal: 16px;
    --forms-input-p-vertikal: 16px;
    --margin-padding-abstand-1: 8px;
    --margin-padding-column-extra-padding: 16px;
    --margin-padding-gutter: 16px;
    --margin-padding-abstand-2: 24px;
    --margin-padding-margin-horizontal: 30px;
    --margin-padding-abstand-3: 32px;
    --margin-padding-abstand-4: 48px;
    --margin-padding-abstand-5: 80px;
    --margin-padding-fluid-extra-padding: 80px;
    --margin-padding-margin-vertikal: 80px;
    --margin-padding-abstand-6: 104px;
    --typografie-h4-bottom: 8px;
    --typografie-h5-bottom: 8px;
    --typografie-h6-bottom: 8px;
    --typografie-sublines-bottom: 8px;
    --typografie-h2-bottom: 16px;
    --typografie-h3-bottom: 16px;
    --typografie-paragraph-bottom: 16px;
    --typografie-h1-bottom: 24px;
    --typografie-hero-bottom: 32px;
    --border-radius: 8px;
    --mini-icons: 16px;
    --std-icons: 24px;
    --big-icons: 56px;
    --button-height: 56px;
    --container-width: 1140px;
    --frame-min-width: 1200px;
    --frame-max-width: 1399px;
  }
}
:root div:not([mode=dark]),
:root div:not([mode=dark]) * {
  --body-background: #f2f2f2;
  --body-headlines: #265c6b;
  --body-icon: #265c6b;
  --body-image-placeholder: #dbdbdb;
  --body-paragraphs: #000c2e;
  --body-sublines: #000c2e;
  --buttons-primary-bg: #265c6b;
  --buttons-primary-bg-hover: #000c2e;
  --buttons-primary-button-icon: #f2f2f2;
  --buttons-primary-button-icon-hover: #dbdbdb;
  --buttons-primary-button-text: #f2f2f2;
  --buttons-primary-button-text-hover: #f2f2f2;
  --buttons-primary-outline: #265c6b;
  --buttons-secondary-bg: #dbdbdb;
  --buttons-secondary-bg-hover: #000c2e;
  --buttons-secondary-button-icon: #000c2e;
  --buttons-secondary-button-icon-hover: #dbdbdb;
  --buttons-secondary-button-text: #000c2e;
  --buttons-secondary-button-text-hover: #f2f2f2;
  --buttons-secondary-outline: #dbdbdb;
  --buttons-text-button-icon: #900811;
  --buttons-text-button-icon-hover: #900811;
  --buttons-text-button-text: #000c2e;
  --buttons-text-button-text-hover: #900811;
  --cards-background: #dbdbdb;
  --cards-headline-text: #000c2e;
  --cards-icon: #265c6b;
  --cards-paragraphs: #000c2e;
  --forms-background: #f2f2f2;
  --forms-icon: #900811;
  --forms-input-text: #000c2e;
  --forms-notification-text: #900811;
  --forms-outline: #dbdbdb;
  --forms-placeholder-text: #000c2e;
  --quick-booker-background: #0d0d0d0d;
  --quick-booker-background-hover: #0d0d0d1a;
  --quick-booker-frame-bg: #dbdbdb;
  --quick-booker-icon: #265c6b;
  --quick-booker-icon-hover: #265c6b;
  --quick-booker-text: #000c2e;
  --quick-booker-text-hover: #000c2e;
}
:root div[mode=dark],
:root div[mode=dark] * {
  --body-background: #000c2e;
  --body-headlines: #f2f2f2;
  --body-icon: #265c6b;
  --body-image-placeholder: #dbdbdb;
  --body-paragraphs: #f2f2f2;
  --body-sublines: #f2f2f2;
  --buttons-primary-bg: #265c6b;
  --buttons-primary-bg-hover: #f2f2f2;
  --buttons-primary-button-icon: #f2f2f2;
  --buttons-primary-button-icon-hover: #000c2e;
  --buttons-primary-button-text: #f2f2f2;
  --buttons-primary-button-text-hover: #000c2e;
  --buttons-primary-outline: #265c6b;
  --buttons-secondary-bg: #dbdbdb;
  --buttons-secondary-bg-hover: #f2f2f2;
  --buttons-secondary-button-icon: #000c2e;
  --buttons-secondary-button-icon-hover: #dbdbdb;
  --buttons-secondary-button-text: #000c2e;
  --buttons-secondary-button-text-hover: #f2f2f2;
  --buttons-secondary-outline: #dbdbdb;
  --buttons-text-button-icon: #900811;
  --buttons-text-button-icon-hover: #900811;
  --buttons-text-button-text: #f2f2f2;
  --buttons-text-button-text-hover: #900811;
  --cards-background: #f2f2f2;
  --cards-headline-text: #000c2e;
  --cards-icon: #265c6b;
  --cards-paragraphs: #000c2e;
  --forms-background: #000c2e;
  --forms-icon: #265c6b;
  --forms-input-text: #f2f2f2;
  --forms-notification-text: #265c6b;
  --forms-outline: #dbdbdb;
  --forms-placeholder-text: #dbdbdb;
  --quick-booker-background: #0d0d0d0d;
  --quick-booker-background-hover: #0d0d0d1a;
  --quick-booker-frame-bg: #dbdbdb;
  --quick-booker-icon: #f2f2f2;
  --quick-booker-icon-hover: #f2f2f2;
  --quick-booker-text: #f2f2f2;
  --quick-booker-text-hover: #f2f2f2;
}

.content-rs-slider {
  padding-block: var(--margin-padding-margin-vertikal);
  background-color: var(--body-background);
}
.content-rs-slider [class^=container].container-fluid {
  padding-inline: var(--margin-padding-margin-horizontal);
}
.content-rs-slider [class^=container].container-fluid .rs-slider-wrapper {
  margin-left: calc((var(--margin-padding-margin-horizontal) + var(--margin-padding-gutter) / 2) * -1);
  margin-right: calc((var(--margin-padding-margin-horizontal) + var(--margin-padding-gutter) / 2) * -1);
  width: calc(100% + var(--margin-padding-margin-horizontal) * 2 + var(--margin-padding-gutter));
  max-width: unset;
}
.content-rs-slider [class^=container] .rs-slider-wrapper {
  position: relative;
}
.content-rs-slider [class^=container] .rs-slider-wrapper .rs-slider {
  margin-block: var(--margin-padding-abstand-6);
}
.content-rs-slider [class^=container] .rs-slider-wrapper .rs-slider .rs-slide {
  margin-inline: calc(var(--margin-padding-gutter) / 2);
}
.content-rs-slider [class^=container] .rs-slider-wrapper .rs-slider-arrows .rs-slider-arrow {
  position: absolute;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  backdrop-filter: blur(2px);
  padding: var(--margin-padding-abstand-1);
  line-height: var(--std-icons);
  cursor: pointer;
}
.content-rs-slider [class^=container] .rs-slider-wrapper .rs-slider-arrows .rs-slider-arrow:after {
  content: "";
  display: inline-block;
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path d="M16.675 13H4.5V11H16.675L11.075 5.4L12.5 4L20.5 12L12.5 20L11.075 18.6L16.675 13Z" fill="%23900811"/></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path d="M16.675 13H4.5V11H16.675L11.075 5.4L12.5 4L20.5 12L12.5 20L11.075 18.6L16.675 13Z" fill="%23900811"/></svg>');
  background-color: var(--buttons-text-button-icon);
  width: var(--std-icons);
  height: var(--std-icons);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  vertical-align: middle;
}
.content-rs-slider [class^=container] .rs-slider-wrapper .rs-slider-arrows .rs-slider-arrow.rs-prev-arrow {
  transform: translateY(-50%) rotate(180deg);
  left: 140px;
}
.content-rs-slider [class^=container] .rs-slider-wrapper .rs-slider-arrows .rs-slider-arrow.rs-next-arrow {
  transform: translateY(-50%);
  right: 140px;
}
